input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__border-input;
	border-radius: 3px;
	padding: 3px;
	background-color: #F5F7FA;
	transition: background-color 0.5s ease;
	&:focus {
		color: $color__text-input-focus;
		background-color: white;
	}
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}

#submit{
	color: white;
	background: $color__titles;
	border: 1px solid $color__titles;
	padding: 0.8rem 2rem;
	font-size: 1rem;
	transition: background-color 0.5s ease;
	&:hover{
		background: $color__link-hover;
		border: 1px solid $color__link-hover;
	}
	
}
