section.comment-ca-marche{
	margin-top: 14.69rem;
	
	p{
		margin-bottom: 0px;
		margin-top: 2.5rem;
	}

	.step{
		margin-top: 1.875rem;
		.step-text{
			.fleche-droite{
				position: relative;
				left: 18.75rem;
				width: 24.88rem;
			}
			.fleche-gauche{
				position: relative;
				right: 11.25rem;
				width: 24.88rem;
			}	
			span{
				font-family: "Poppins", sans-serif;
				font-size: 8.125rem;
				color: #ef5a4b;
				font-weight: 900;
				position: absolute;
				left: -1.25rem;
				top: -5rem;
				z-index: -1;
				opacity: 0.15;
			}
		}
		.img-container{
			//background: white;
			img{
				width: 21.31rem;
    			//filter: grayscale(1);
			}
			// &:after{
			// 	content: "";
			//     display: block;
			//     position: absolute;
			//     width: 100%;
			//     height: 100%;
			//     background-color: #0b4669;
			//     top: 0;
			//     mix-blend-mode: color;
   //  			right: 0;
			// }
			// &:hover{
			// 	img{
			// 		width: 21.31rem;
	  //   			filter: grayscale(0);
			// 	}
			// 	&:after{
			// 		opacity: 0;
			// 	}
			// }
		}
	}
}


@media screen and (max-width: 991px) {
	section.comment-ca-marche {
		.step {
			.step-text {
				.fleche-droite,.fleche-gauche{
					width: 15.88rem;
				}
			}
			.img-container {
				img{
					width: 17.31rem;
				}
			}
		}
	}
}

@media screen and (max-width: 765px) {	
	section.comment-ca-marche {
		margin-top: 10.69rem !important;
		.step {
			margin-bottom: 4rem;
			.step-text {
				text-align: center;
				.fleche-droite, .fleche-gauche{
					display: none
				}
				h3{
					text-align: center;
				}
			}
			.img-container{
				text-align: center !important;
				margin-bottom: 3rem;
			}
		}
	}
}

@media screen and (max-width: 575px) {

	section {
		p.subtitle{
			width: 88%;
		}
	}

	section.comment-ca-marche {
		.step {
			.step-text {
				span{
					left: 3.75rem;
				}
			}
		}
	}
}