footer.site-footer{
	background-image: linear-gradient(to top, #e0ecf7, #eaf0f9, #f2f5fb, #f9fafd, #ffffff);
	.trait-footer{
		width: 100%;
		height: 1px;
		background: #adc2d0;
		display: block; 
	}
	.spacer{
		margin: 3.188rem 0;
	}
	.footer-logo{
		text-align: center;
		width: 100%;
		img{
			width: 12.44rem;
		}
	}
	.footer-flag{
		text-align: center;
		margin: 0 auto;
		img{
			display: block;
			margin: 0 auto;
			width: 6.125rem;
		}

	}
	.social-media-links{
		margin: 0;
		text-align: center;
		li{
			list-style: none;
			display: inline-block;
			margin-left: 0.625rem;
			a{
				font-size: 1.875;
			}
		}
	}

	.site-info-left{
		padding: 1.5rem 0;
		a{
			font-size: 1rem;
		}
		p{
			font-size: 1rem;
			color: #03476a;
			display: inline-block;
			letter-spacing: 0px;
		}
	}
	.site-info-right{
		padding: 1.5rem 0;
		p{
			text-align: right;
			font-size: 1rem;
		}
	}
}

@media screen and (max-width: 575px) {
	footer.site-footer {
		.footer-flag{
			margin-top: 1.5rem;
		}
		.social-media-links{
			margin: 0 auto;
			padding: 0;
			margin-top: 1.5rem;
		}
		
		.site-info-left,.site-info-right{
			text-align: center;

			p{
				text-align: center !important;
			}
		}
		.site-info-right{
			padding: 0;
		}
		
	}
}
